<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/ef48f4e9ad.js" crossorigin="anonymous"></script>
    <title>BluBox - <%= pelicula.titulo %> </title>
</head>
<body>

    <!-- HEADER -->

    <%- include ('partials/main-menu') %> 

    <!-- MAIN -->

    <main>
        <section id="detalle-hero-section">
            <img class="imagen-pelicula" src="<%= pelicula.imagen[1] %> " alt="">
            <h1 class="titulo-pelicula"><%= pelicula.titulo %></h1>
            <h2 class="director-pelicula"><%= pelicula.director %></h2>
            <div class="lanzamiento-y-generos">
                <span class="lanzamiento-pelicula"><%= pelicula.año_de_lanzamiento %></span>
                <div class="generos-pelicula">
                    <% pelicula.genero.forEach((genero,i) => { %>
                        <span class="genero-pelicula"><%= genero %></span>
                        <% if (i < pelicula.genero.length - 1) { %> · <% } %>
                    <% }); %>
                </div>
            </div>
            <p class="descripcion-pelicula"><%= pelicula.descripcion %></p>
            <% if (isLogged) { %>
                <button id="add-film" onclick="addFirstCopy()"><span class="plus-button"><i class="fa-solid fa-plus fa-sm"></i></span>Añadir a colección</button>
            <% } else { %>
                <a href="/login" id="add-film" style="text-decoration: none; display: inline-flex; align-items: center; gap: 10px; align-self: self-start; font-size: 1rem; justify-self: start; font-family: 'Poppins', sans-serif; font-weight: 500; background: var(--pure-white); border: 0px; border-radius: 8px; color: var(--blue-text-on-item); padding: 10px 20px; cursor: pointer;"><span class="plus-button"><i class="fa-solid fa-plus fa-sm"></i></span>Añadir a colección</a>
            <% } %>
        </section>
        <section id="lista-de-copias">
            <h1>Lista de copias</h1>
            <table>
                <thead>
                  <tr>
                    <th>Número de copia</th>
                    <th>Estado</th>
                    <th>Formato</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <% pelicula.copias.forEach((copia, i) => { %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td><%= copia.estado %></td>
                      <td><%= copia.formato %></td>
                      <td>
                        <% if (isLogged) { %>
                          <form action="/pelicula/<%= pelicula.id %>/add-copy" method="post" style="display: inline;">
                            <input type="hidden" name="estado" value="<%= copia.estado %>">
                            <input type="hidden" name="formato" value="<%= copia.formato %>">
                            <button type="submit" class="btn-añadir-copia">Añadir</button>
                          </form>
                        <% } else { %>
                          <a href="/login" class="btn-añadir-copia">Añadir</a>
                        <% } %>
                      </td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
        </section>
    </main>
    
    <dialog id="success-dialog">
      <p id="success-message"></p>
      <button id="close-dialog-btn">Aceptar</button>
    </dialog>

    <!-- FOOTER -->
    <%- include('partials/footer') %>

</body>
<script src="/javascripts/code.js"></script>
</html>